h1 {
    color: rgb(232, 166, 67);
    font-size: 25 px ;
}

img{
    background-color: red;
}

.Roti {
    background-color: #216e21;
}

.Pizza {
    background-color: red;
}

#heading {
    color: #21eb56;
    
}